@import "tailwindcss";

@source "./";

@theme {
  /* Brand colors */
  --color-brand: #0096ff;
  --color-brand-dark: #0077cc;
  
  /* Shared Fonts */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
}
